Error
java.io.FileNotFoundException: open failed: ENOENT (No such file or directory)
	at android.database.DatabaseUtils.readExceptionWithFileNotFoundExceptionFromParcel(DatabaseUtils.java:162)
	at android.content.ContentProviderProxy.openTypedAssetFile(ContentProviderNative.java:837)
	at android.content.ContentResolver.openTypedAssetFileDescriptor(ContentResolver.java:2159)
	at android.content.ContentResolver.openAssetFileDescriptor(ContentResolver.java:1974)
	at android.content.ContentResolver.openFileDescriptor(ContentResolver.java:1805)
	at android.content.ContentResolver.openFileDescriptor(ContentResolver.java:1751)
	at l.ܶ۠ܶ.<init>(U4GP:34)
	at l.ܳ۠ܶ.۟(F4X0:35)
	at l.᩺ܿܳ.۟(G168:237)
	at l.۠ܿܳ.call(D165:0)
	at java.util.concurrent.FutureTask.run(FutureTask.java:328)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1100)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:1572)
